.buildpath
.settings/
.project
*.patch
.idea/
.git/
runtime/
vendor/
.phpintel/
.env
.DS_Store
.phpunit*
*.cache
.vscode/
./gatling/user-files/results/*
./gatling/gatling
./gatling/gatling/3.10.3/target/test-classes/*
